{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li><a href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>
        <li><a href="{% url 'accounts:password_change' user_obj.pk %}">Смена пароля</a></li>
        <li><a href="{% url 'webapp:message_correspondance' %}">Список сообщений</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.username|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% else %}
        <img class="avatar" src="{% static "images/No photo.png" %}" width="250" height="250" alt="no photo">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
    <p>Почта: {{ user_obj.email }}</p>

    <h2 class="text-center clear">Друзья пользователя:</h2>
    {% for friend in friends %}
        <p><a href="{% url 'accounts:detail' friend.friend.pk %}" >{{ friend.friend }}</a></p>
        {% if request.user.is_authenticated %}
            <p><a {% if friend.friend.pk in friend_in %}style="display: none" {% endif %} id="{{ friend.friend.pk }}" onclick="addFriend(event)"  href="{% url 'webapp:add_friend' request.user.pk %}">Add Friends</a>
            <a {% if friend.friend.pk not in friend_in %}style="display: none" {% endif %} id="{{ friend.friend.pk }}" onclick="deleteFriend(event)" href="{% url 'webapp:delete_friend' request.user.pk %}">Delete Friends</a></p>
            <p><a href="{% url 'webapp:message_create' friend.friend.pk %}">Write a message</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}