{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Hello{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    <h1 class="text-center">Users</h1>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
        {% for user in users %}
            <div class="box">
                <p><a href="{% url 'accounts:detail' user.pk %}" >{{ user.user }}</a></p>
                {% if user.user.first_name or user.user.last_name %}
                    <p>Name: {{ user.user.first_name }}</p>
                    <p>Last name: {{ user.user.last_name }}</p>
                {% else %}
                    <p>{{ user.user }}</p>
                {% endif %}
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" width="auto" height="100" alt="user_pic">
                {% else %}
                    <img src="{% static "images/No photo.png" %}" width="auto" height="100" alt="no photo">
                {% endif %}


                <p><a {% if user.pk in friend_in %}style="display: none" {% endif %} id="{{ user.pk }}" onclick="addFriend(event)"  href="{% url 'webapp:add_friend' request.user.pk %}">Add Friends</a>
                <a {% if user.pk not in friend_in %}style="display: none" {% endif %} id="{{ user.pk }}" onclick="deleteFriend(event)" href="{% url 'webapp:delete_friend' request.user.pk %}">Delete Friends</a></p>
                <p><a href="{% url 'webapp:message_create' user.user.pk %}">Write a message</a></p>


            </div>

        {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}

    {% endif %}
{% else %}
    {% for user in users %}
        <div class="box">
            <p>{{ user.avatar.url }}</p>
            <p><a href="{% url 'accounts:detail' user.pk %}" >{{ user }}</a></p>
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" width="auto" height="100" alt="user_pic">
            {% else %}
                <img src="{% static "images/No photo.png" %}" width="auto" height="100" alt="no photo">
            {% endif %}
        </div>
    {% endfor %}
{% endif %}

{#    <a class="mx-5" {% if i.pk in goal_in_session %}style="display: none" {% endif %}#}
{#                               onclick="addSkill(event)" id="{{ i.pk }}"#}
{#                               href="{% url 'webapp:add_skill' sessions.pk %}">ADD</a>#}
{#                            <a class="mx-5" {% if i.pk not in goal_in_session %} style="display: none" {% endif %}#}
{#                                                                    onclick="deleteSkill (event)" id="{{ i.pk }}"#}
{#                                                                    href="{% url 'webapp:delete_skill' sessions.pk %}">REMOVE</a>#}
{#    {% for file in files %}#}
{#        <div class="box">#}
{#            <a href="{% url 'webapp:file_detail' file.pk %}">{{ file.name }}</a>#}
{#            <p>{{ file.author }}</p>#}
{#            <p>{{ file.created_at|date:"d.m.Y H:i:s" }}</p>#}
{#            <div style="word-wrap: break-word;">#}
{#                <a href="{{ file.file.url }}" download>{{ file.name }}</a>#}
{#            </div>#}
{#                <img src="{{ file.file.url }}" width="auto" height="100" alt="file picture">#}
{#        </div>#}
{#    {% endfor %}#}


{% endblock %}
{% block scripts %}

{% endblock %}